/* Space out content a bit */
body {
  padding-top: 60px;
}

@media (max-width: 979px) {
  body {
    padding-top: 60px;
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Modal Dialog */
.memorial-modal-dialog {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.8);
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.memorial-modal-dialog.ng-hide-remove {
  display: block !important;
  opacity: 0;
}

.memorial-modal-dialog.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

.memorial-modal-dialog.ng-hide-add{
  display: block !important;
  opacity: 1;
}

.memorial-modal-dialog.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}

.content-holder {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 2px solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-color: #CCC;
  padding: 20px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
}

.close-button {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close-button:hover { 
  background: #00d9ff; 
}

/* Candle */
.candle {
  border-radius: 5px;
  border: 1px solid #CCC;
  box-shadow: 0 1px 5px #CCC;
  margin-top: 10px;
  padding: 5px;
  word-wrap: break-word;
  overflow: hidden;
}

.candle-name {
  float: right;
}

.candle-date {
  float: left;
}

.candle-content {
  clear: both;
  padding-top: 10px;
}

.candle-image {
  float: right;
  padding-left: 10px;
}
