<div ng-include="'partials/navbar'"></div>

<div class="row">
	<div class="col-md-3">
		<button class="btn btn-default" ng-click="showDialog=true">הוסף הספד</button>
	</div>
	<div class="col-md-3‎ pull-left lead">
		<header>קיימים {{eulogies.length}} הספדים</header>
	</div>
</div>

<div class="row" ng-repeat="row in eulogies | orderBy:'-date' | inSlicesOf:2">
	<div class="col-md-6" ng-repeat="eulogy in row">
		<eulogy name="eulogy.name" date="eulogy.date" content="eulogy.content"/>
	</div>
</div>

<modal-dialog show="showDialog">
	<div>
		<form name="form" novalidate>
			<div class="form-group" ng-class="{'has-error': form.name.$dirty && form.name.$invalid}">
				<input class="form-control" type="text" name="name" ng-model="newEulogy.name" placeholder="הקלד את שמך" required ng-maxlength="20" focus-when="showDialog">
				<p class="help-block" ng-show="form.name.$dirty && form.name.$error.required">שדה זה חייב להכיל ערך</p>
				<p class="help-block" ng-show="form.name.$dirty && form.name.$error.maxlength">ניתן להזין לכל היותר עשרים תווים</p>
			</div>
			<div class="form-group" ng-class="{'has-error': form.content.$dirty && form.content.$invalid}">
				<textarea class="form-control" name="content" rows="10" cols="50" ng-model="newEulogy.content" placeholder="הוסף מספר מילים..." ng-maxlength="2000" required>
				</textarea>
				<p class="help-block" ng-show="form.content.$dirty && form.content.$error.required">שדה זה חייב להכיל ערך</p>
				<p class="help-block" ng-show="form.content.$dirty && form.content.$error.maxlength">ניתן להזין לכל היותר אלפיים תווים</p>
			</div>
			<button class="btn btn-default" ng-disabled="form.$invalid" ng-click="addEulogy()">
				הוסף הספד
			</button>
		</form>
	</div>
</modal-dialog>
